a {
  text-decoration: none;
}

.overview {
  margin-top: 75px;
}

.nav-container {
  z-index: 300;
}

.nav-main {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 300;
  height: 78px;
}

.nav-navigation {
  display: flex;
  justify-content: space-between;
  min-width: 800px;
  max-width: 1440px;
  padding: 0 12px;
  margin: 0 auto;
}

.tabs {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding-left: 0;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  transition-duration: .5s;
  min-width: 5em;
}

.tab:hover {
  background-color: #8E9EA8;
  cursor: pointer;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

#userTab {
  transform-style: preserve-3d;
  transition: all .5s ease-in-out;
}

#userTab:hover {
  transform: rotateY(180deg);
}

#userTab .name {
  backface-visibility: hidden;
  border-radius: 6px;
  overflow: hidden;
  transition: all 1s ease-in-out;
}

#userTab .logout {
  text-align: center;
  transform: rotateY(180deg);
}

#userTab:hover .logout {
  visibility: visible;
}

.logout {
  backface-visibility: hidden;
  visibility: hidden;
}
