{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-flow",
    ["@babel/preset-env", {"targets": {"node": "current"}}],
    ["@babel/preset-stage-2", {"decoratorsLegacy": true}]
  ],
  "plugins": [
    "syntax-dynamic-import",
    ["@babel/plugin-proposal-decorators",
    {
      "legacy": true
    }
  ]
  ]
}