.buttonGroup {
  display: flex;
  width: 300px;
  height: 200px;
  justify-content: center;
  align-items: center;
}

.header-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border: black 2px solid;
  padding: .25em;
  font-size: 3em;
}

.soloButton {
  display: flex;
  height: 35.97px;
  width: 225.97px;
  margin: 1em;
  font-size: .5em;
  justify-content: center;
}

.card-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1em;
  height: 700px;
  width: 900px;
  margin: 1em;
}

.dialog {
  position: absolute;
  font-size: 12pt;
  top: 0%;
  left: 50%;
  width: 20em;
  height: 3em;
  border: black 1em solid;
  padding: 1em;
  background-color: red;
}

.centeredDiv {
  position: absolute;
  left: 20%;
  top: 20%;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 500px;
  border: 1px white solid;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}
