@import url('../../Styles/index.css');

.editor {
  background-color: white;
}

.editorFields {
  display: flex;
  flex-direction: column;
}

.bodyField {
  height: 400px;
  width: 800px;
  font-size: 14pt;
  resize: none;
  overflow: scroll;
  background: lightgrey;
}

.titleField {
  font-size: 16pt;
  width: 350px;
  background: lightgrey;
}

.titleField, .bodyField {
  border: none;
  margin: 1.5em;
}

.titleField:focus, .bodyField:focus {
  background: white;
}
