@import url('../../Styles/index.css');

.editor {
  background-color: white;
}

.editorFields {
  display: flex;
  flex-direction: column;
}

.bodyField {
  height: 25em;
  width: 75em;
  font-size: 14pt;
  resize: none;
  overflow: scroll;
}

.titleField {
  font-size: 16pt;
  width: 40em;
}

.titleField, .bodyField {
  border: none;
  margin: 1.5em;
}

/* .titleField:focus, .bodyField:focus {
  outline: none;
} */
