@import url('https://fonts.googleapis.com/css?family=Joti+One');
body {
  color: black;
  font-family: 'Joti One',
  cursive;

}
/* Higher Order Compent Loader */
.loader {
  animation-name: blink;
  animation-duration: 3s;
  animation-iteration-count: infinite
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .01;
  }
  100% {
    opacity: .99
  }
}