.nav {
  position: fixed;
  top: -50px;
  left: -50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  height: 100px;
  width: 120%;
  background: url('./UserNav.svg') repeat;
  border-bottom: solid white 1px;
}

.userBox {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.userName {
  font-size: 1.5em;
  margin: .5em;
}

.logout {
  font-size: .5em;
  margin: .5em;
  height: 20px;
  width: 50px;
}
