.container {
  display: flex;
  border: 2px #9899A6 solid;
  flex-direction: row;
  min-width: 1200px;
}

.project {
  background-color: #71A9F7;
}

.act {
  background-color: #6B5CA5;
}

.sequence {
  background-color: #54428E;
}

.scene {
  background-color: #72195A;
}

.beat {
  background-color: #4C1036;
}

.subContainer {
  display: flex;
  flex-direction: row;
}

.navView {
  width: 1200px;
  overflow: scroll;
}
