.project {
  background-color: #B0A3D4;
}

.act {
  background-color: #6B5CA5;
}

.sequence {
  background-color: #54428E;
}

.scene {
  background-color: #72195A;
}

.beat {
  background-color: #4C1036;
}

.hoc-container {
  max-width: 960px;
  overflow: hidden;
}

.sub-container {
  overflow: scroll;
  max-width: 696px;
  margin-left: .5em;
  border-left: 2px dotted black;
}

.hot-seat-container {
  max-width: 960px;
  min-width: 881px;
  display: flex;
  justify-content: center;
  align-items: center;
}
