.container {
  display: flex;
  border: 2px #9899A6 solid;
}

.project {
  background-color: #F5F2D4;
}

.act {
  background-color: #B098A4;
}

.sequence {
  background-color: mediumturquoise;
}

.scene {
  background-color: blanchedalmond;
}

.beat {
  background-color: antiquewhite;
}
