.thumbnail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 1em;
  height: 145px;
  width: 145px;
  padding: .5em;
  border: 2px black solid
}

.thumbnail:active {
  border: 2px blueviolet solid;
  background-color: aqua;
}

.selected {
  background-color: #00A9A5;
}

.unSelected {
  background-color: linen;
}

.dragging {
  opacity: 0;
}
