.selected {
  background-color: black !important;
  color: white !important;
  font-weight: bold !important;
}

.unselected {
  background-color: whitesmoke;
}

.dragging {
  opacity: 0;
}

.body-shape {
  height: 38px;
}

.index-card {
  font-size: 10pt;
  margin: 1em;
  height: 108px;
  width: 192px;
  font-weight: bold;
}
