.auth {
  background-color: #A8DADC;
  display: flex;
  flex-direction: column;
  border: 2em;
  height: 100px;
  width: 300px;
  justify-content: center;
  align-items: center;
  align-self: center;
}
