@import url('../Styles/index.css');

.auth {
  background-color: #A8DADC;
  justify-content: space-around;
  font-size: 2em;
}

.spam {
  font-size: .5em;
}

.authInputs {
  height: 30px;
  width: 250px;
  display: flex;
  font-family: 'Raleway', sans-serif;
  font-size: .5em;
  margin: .5em;
}

.authButtonGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
