@import url('../../Styles/index.css');

.view {
  background-color: white;
  color: black;
  z-index: 999;
  border-radius: 1em;
  border: 2px solid gray;
}

.view-body {
  min-height: 400px;
}

.fields {
  display: flex;
  flex-direction: column;
  min-width: 800px;
}
